name: Continuous Build Linux

on:
  push:
    tags:
      - '*'

jobs:
  static-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Configure CMake
        run: cmake -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXE_LINKER_FLAGS="-static"

      - name: Build
        working-directory: build
        run: make -j$(nproc)

      - name: Test
        working-directory: build
        run: file cparser

      - name: Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: build/cparser
          token: ${{secrets.GITHUB_TOKEN}}
