name: Continuous Build Linux

on:
  push:
    branches:
      - master

jobs:
  static-build:
    runs-on: ubuntu-latest
    container: ubuntu:latest
    steps:
      - name: Update package lists
        run: apt update
      - name: Install build tools
        run: apt install -y build-essential cmake
