name: Continuous Build Linux

on:
  push:
    branches:
      - master

jobs:
  static-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=Release

      - name: Proc
        run: echo $(nproc)

      - name: Build
        working-directory: ${{github.workspace}}/build
        run: make -j$(nproc)

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ./cparser
