name: Continuous Build Linux

on:
  push:
    branches:
      - master

jobs:
  static-build:
    runs-on: ubuntu-latest
    container: frolvlad/alpine-glibc
    steps:
      - name: Install build tools
        run: apt install cmake
